.new_erweima{width: 320px;margin:26px auto;position: relative;}
.oeacn{width: 320px;height: 382px;margin-bottom: 17px;}
.share_now{width: 240px;margin: 0 auto;height: 40px;line-height: 40px;}
.share_logos{margin-left: 12px;}
.new_posi1{position: absolute;top: 29%;width: 100%;left: 0%;font-size: 14px;color: #fff;}
.new_posi2{position: absolute;font-size: 14px;color: #fff;top:40%;left: 41%;}




